.vbox {
    -fx-background-color: #ffffff;
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-padding: 20px;
}

.hbox {
    -fx-spacing: 50px;
    -fx-alignment: center;
}

{
	-fx-primary-color: #007acc;
	-fx-secondary-color: #4B6EAF;
	-fx-accent-color: #B6FF00;
	-fx-grey-color: #b9b9b9;
	-fx-light-grey-color: #d1d1d1;
	-fx-lightest-grey-color: #F9F9FB;
	-fx-focus-color: -fx-secondary-color;
}
.table-button {
	-fx-background-color: -fx-primary-color;
	-fx-cursor: hand;
}
.table-button:hover{
	-fx-background-color: transparent;
}
.table-view {
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}
.table-view .column-header-background,
.table-view .column-header-background .filler,
.table-view .corner {
	-fx-background-color: transparent;
}
.table-view .column-header {
	-fx-background-color: #6a98d9;
	-fx-border-color: -fx-grey-color;
}
.table-view .column-header .label{
	-fx-font-weight: bold;
	-fx-alignment: center-left;
}

.table-row-cell:filled {
	-fx-background-color: transparent;
	-fx-border-color: transparent -fx-lightest-grey-color -fx-lightest-grey-color -fx-lightest-grey-color, transparent;
	-fx-border-insets: 0, 1;
}
.table-row-cell:empty {
	-fx-background-color: transparent;
}
.table-row-cell:filled:hover {
	-fx-background-color: -fx-light-grey-color;
}
.table-row-cell:filled:selected:hover {
	-fx-background-color: -fx-light-grey-color;
}
.table-row-cell:filled:selected {
  	-fx-background-color: #eaeaea;
 	-fx-background-insets: 0.0;
	-fx-background-radius: 0.0;
}
.table-row-cell:filled:selected .table-cell {
	-fx-text-fill: black;
}
.table-view .cell:filled{
	-fx-cell-size: 30;
	-fx-alignment: center-left;
}
.check-box-table-cell > .check-box:selected .box .mark {
	-fx-background-color: white;
}
.check-box-table-cell > .check-box:selected .box{
	-fx-background-color: -fx-accent-color;
}
.table-view .placeholder .label {
	-fx-text-fill: grey;
	-fx-padding:20px;
}


.button {
    -fx-background-color: #6a98d9;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.0, 1, 1);
}

.button:hover {
    -fx-background-color: #4e7ab7;
}

.button:pressed {
    -fx-background-color: #3b6091;
}

#RejectButton {
    -fx-background-color: #d9534f;
}

#RejectButton:hover {
    -fx-background-color: #c9302c;
}

#RejectButton:pressed {
    -fx-background-color: #ac2925;
}
