.vbox {
    -fx-background-color: #ffffff;
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-padding: 20px;
}

.label {
    -fx-text-fill: #3f5d7e;
    -fx-font-weight: bold;
}

.label:first-of-type {
    -fx-font-size: 33px;
    -fx-padding: 10px 0;
}

.label:not(:first-of-type) {
    -fx-font-size: 16px;
    -fx-text-fill: #4a4a4a;
}

.hbox {
    -fx-spacing: 30px;
    -fx-alignment: center;
}

.button {
    -fx-background-color: #6a98d9;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.0, 1, 1);
}

.button:hover {
    -fx-background-color: #4e7ab7;
}

.button:pressed {
    -fx-background-color: #3b6091;
}

#logOutButton {
    -fx-background-color: #d9534f;
    -fx-text-fill: white;
}

#logOutButton:hover {
    -fx-background-color: #c9302c;
}

#logOutButton:pressed {
    -fx-background-color: #ac2925;
}
