.vbox {
    -fx-background-color: #ffffff;
    -fx-padding: 20;
    -fx-alignment: center;
}

.text {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #3f5d7e;
}

.label {
    -fx-font-size: 16px;
    -fx-fill: #4a4a4a;
}

.password-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #d1d1d1;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-pref-width: 300px;
}

.password-field:focused {
    -fx-border-color: #6a98d9;
}

.button {
    -fx-background-color: #6a98d9;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

#backButton {
    -fx-background-color: #d1d1d1;
    -fx-text-fill: #3f5d7e;
    -fx-font-size: 12px;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
}

#backButton:hover {
    -fx-background-color: #b8b8b8;
}