{
	-fx-primary-color: #007acc;
	-fx-secondary-color: #4B6EAF;
	-fx-accent-color: #B6FF00;
	-fx-grey-color: #b9b9b9;
	-fx-light-grey-color: #d1d1d1;
	-fx-lightest-grey-color: #F9F9FB;
	-fx-focus-color: -fx-secondary-color;
}
SplitPane {
    -fx-background-color: #ffffff;
}

VBox {
    -fx-spacing: 10px;
    -fx-padding: 10px;
}

HBox {
    -fx-spacing: 10px;
    -fx-alignment: CENTER_LEFT;
}

TextField {
    -fx-font-size: 14px;
    -fx-text-fill: #4A6A7D;
    -fx-background-color: #E7EFF6;
    -fx-border-color: #A3C3D9;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

TextField:focused {
    -fx-border-color: #76C7C0;
    -fx-background-color: #DCE6EE;
}

Button {
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #6a98d9;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-cursor: hand;
}

Button:hover {
    -fx-background-color: #5FA9A4;
}

Button:pressed {
    -fx-background-color: #48918B;
}

.table-button {
	-fx-background-color: -fx-primary-color;
	-fx-cursor: hand;
}
.table-button:hover{
	-fx-background-color: transparent;
}
.table-view {
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}
.table-view .column-header-background,
.table-view .column-header-background .filler,
.table-view .corner {
	-fx-background-color: transparent;
}
.table-view .column-header {
	-fx-background-color: #6a98d9;
	-fx-border-color: -fx-grey-color;
}
.table-view .column-header .label{
	-fx-font-weight: bold;
	-fx-alignment: center-left;
}

.table-row-cell:filled {
	-fx-background-color: transparent;
	-fx-border-color: transparent -fx-lightest-grey-color -fx-lightest-grey-color -fx-lightest-grey-color, transparent;
	-fx-border-insets: 0, 1;
}
.table-row-cell:empty {
	-fx-background-color: transparent;
}
.table-row-cell:filled:hover {
	-fx-background-color: -fx-light-grey-color;
}
.table-row-cell:filled:selected:hover {
	-fx-background-color: -fx-light-grey-color;
}
.table-row-cell:filled:selected {
  	-fx-background-color: #eaeaea;
 	-fx-background-insets: 0.0;
	-fx-background-radius: 0.0;
}
.table-row-cell:filled:selected .table-cell {
	-fx-text-fill: black;
}
.table-view .cell:filled{
	-fx-cell-size: 30;
	-fx-alignment: center-left;
}
.check-box-table-cell > .check-box:selected .box .mark {
	-fx-background-color: white;
}
.check-box-table-cell > .check-box:selected .box{
	-fx-background-color: -fx-accent-color;
}
.table-view .placeholder .label {
	-fx-text-fill: grey;
	-fx-padding:20px;
}

Label {
    -fx-font-size: 14px;
    -fx-text-fill: #4A6A7D;
}

#infoBookVBox {
    -fx-spacing: 8px;
    -fx-padding: 10px;
    -fx-background-color: #E7EFF6;
    -fx-border-radius: 10px;
}

#returnButton {
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #76C7C0;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
}

#returnButton:hover {
    -fx-background-color: #5FA9A4;
}

#returnButton:pressed {
    -fx-background-color: #48918B;
}
