.vbox {
    -fx-background-color: #ffffff;
    -fx-padding: 20;
    -fx-alignment: center;
    -fx-spacing: 20;
}

#messageLabel {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #3f5d7e;
}

.text-field, .password-field {
    -fx-background-color: #ffffff;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-border-color: #d1d1d1;
    -fx-font-size: 14px;
    -fx-pref-width: 300px;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #6a98d9;
}

.button {
    -fx-background-color: #6a98d9;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.0, 1, 1);
}

.button:hover {
    -fx-background-color: #4e7ab7;
}

#backButton {
    -fx-background-color: #d1d1d1;
    -fx-text-fill: #3f5d7e;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

#backButton:hover {
    -fx-background-color: #b8b8b8;
}

.text-field .prompt-text, .password-field .prompt-text {
    -fx-font-style: italic;
    -fx-text-fill: #b3b3b3;
}
