VBox {
    -fx-background-color: #ffffff;
    -fx-padding: 20px;
    -fx-spacing: 5px;
}

Label {
    -fx-font-size: 20px;
    -fx-text-fill: #2C3E50;
}

#userInformationLabel {
    -fx-font-size: 40px;
    -fx-text-fill: #032b79;
    -fx-font-weight: bold;
}

HBox {
    -fx-spacing: 20px;
    -fx-alignment: CENTER;
}

Button {
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #76C7C0;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
}

Button:hover {
    -fx-background-color: #5FA9A4;
}

Button:pressed {
    -fx-background-color: #48918B;
}

